*{
    padding: 0;
    margin: 0;
}

 body{ 
	background-image: url("../../assets/img/fondo.png");
 }
    /* margin: 80px; */
    /* padding:0; */
    /* line-height: 1.6; */
/* } */

.App{
    /* max-width: 1555px; */
    width: 100%;
    /* min-height: 100vh; */
    margin: auto;
    box-shadow: 0 2px 6px #d444a9a4;;
    padding: 0 15px;
    box-sizing: border-box;
}

/* ----------------- HEADER -------------------*/
header{
    width: 97.9%;
    min-height: 100px;
    /* max-width:1530px; */
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box ;
    background-color: white;
    box-shadow: 0 10px 10px #d444a9a4;
    z-index: 10;
}

a{      
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.title{
	Background: #fff;
	padding: 5px 5x;
	border: 5px solid rgb(239, 201, 239);
	font-size: 20px;
	/* font-style: italic; */
	/* font-family: Palatino, Georgia, serif; */
}
a:hover{
    color: rgb(239, 201, 239);
}
/*---------------------menu-----------*/
.menu{
    display: none;
    text-align: center;
}
.portada {
    text-align: top;
    text-align: right;
    width: 100%;
}

li{
    list-style: none; 
}
header ul{
    display: flex;
    padding: 0;
    margin: 0; 
}
header ul li{
    padding: 0 1rem;
    font-weight: bold;
    /* text-align: center; */
    position: relative;
    right: 140px;
}
/* header ul li a{
    font-weight: bold;
    text-align: center;
} */
/*-------------------CART (no es carrito)--*/
.cart{ 
    position: relative;
    cursor: pointer;
}
.cart box-icon{
    width: 45px;
    height: 45px;
    
}
.cart span{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    /* font-size: 1.5rem; */
    /* font-weight: 700; */
    /* border-radius: 50%; */
    /* background-color: crimson; */
}

/*---------------------ACA CARRITO (no es cart)*/
.carritos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    padding-bottom: 5rem;
    /*visibility: hidden;*/
}
.carrito{
    position: fixed;
    top: 100px;
    left: 50px;
    transform: translate(-50%, -50%) scale(.5);
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}
.carrito h2{
    text-align: center;
    font-size: 2rem;
}
.carritos.show{
    visibility: visible;
}

.carrito.show{
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
    visibility: visible;
}
.carrito__close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem
}
.carrito__close box-icon:hover {
    fill: crimson;
}
.carrito__center{
    width: 98%;
    margin: 0 auto;
}
.carrito__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px saddlebrown;
    border-radius: 5px;
}

.price{
    color: #1a202c;
    font-size: 1rem;
    text-align: center;
}
.carrito__item box-icon{
    fill:rgb(239, 201, 239);
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: .3rem;
}
.carrito__item .cantidad{
    font-size: 2rem;
    font-weight: bold;
}
.carrito__item .remove__item box-icon{
    width: 60px;
    height: 80px;
    fill:  crimson;
    margin-top: 2rem;
}
.carrito__footer{
    text-align: center;
    margin-bottom: 3rem;
}
.carrito__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carrito__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(239, 201, 239);
    border: 0;
    outline: 0;
    cursor: pointer;
}
.carrito__footer .btn:hover{
    background-color: rgb(239, 201, 239);
    color: white;
}


/*----------- shOWS/produccion ------------*/
.produ{
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: rgb(239, 201, 239);
}
.shows{
    padding: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem 11.6rem;
    /*gap: distancia de columnas de shows */
    box-sizing: border-box ;
    
} 
.show{
    display: flex;
    width: 97.9%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.show:hover{
    border: 6px solid rgb(239, 201, 239);
    ;
}
.show__img img{
    width: 310px;
}
.show__footer{
    padding: 1rem;
}
.show__footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a202c;
    font-family: Helvetica, sans-serif
    ;
}
.show__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
    text-transform: uppercase;
    font-size: 18px;
}
.show__footer .price{
    font-size: 2rem;
    color: #1a202c;
}
.show .buttom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem 3rem;
    padding: 0 1rem;
    margin: 1rem
}
/* fijarse sino de cambiar a 2rem;*/
.bottom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.buttom button{
    background-color: rgb(239, 201, 239);
    max-width: 400px;
    width: 188%;
    margin: 0 auto;
    font-size: 1rem;
    color: rgb(22, 19, 19);
    font-weight: 600;
}
.bottom div{
    background-color:rgb(239, 201, 239);
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}
.bottom div a{
    color: white;
    font-weight: 700;
}
.bottom div a:hover{
    color: white;
}
.carrito__item{
    width: 150%;
}
    .detalles input{
        margin-top: -6rem;
    }
    .carrito{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito__item h3{
        font-size: 1.3rem;
    }

/* -------------------------------------------------MEDIA -------------*/


@media only screen and (max-width: 1000px){
    .carrito__item{
        width: 150%;
    }
}
@media only screen and (max-width: 888px){ 
    .detalles input{
        margin-top: -6rem;
    }
}
/*ojo con media DETTALES y no ponerle CARRITO*/
@media only screen and (max-width: 700px){
    .carrito{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito__item h3{
        font-size: 1.3rem;
    }
    .detalles h2{
        font-size: 3rem;
    }
    
}
@media only screen and (max-width: 663px){ 
    .detalles input{
        margin-top: -8rem;
    }
}

@media only screen and (max-width: 570px){
    header ul{
        display: none;
    }
    .shows{
        padding: 0;
    }
    .detalles h2{
        font-size: 2.5rem;
    }
    .detalles input{
        margin-top: 0rem ;
    }
    .detalles img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: -1rem auto;
    }
}
@media only screen and (max-width: 450px){
    .carrito__item h3{
        font-size: .8rem;
    }
    .carrito__item .remove__item{
    width: 20px;
    height: 20px;
    }
    .carrito__item box-icon{
    width: 25px;
    height: 25px;
    }
    .detalles h2{
        font-size:2rem;
        padding-top: 10rem ;
    }
    .detalles .grid > .nuevo, .tamano{
    padding: 1rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    }
    .detalles .grid .tamano select{
        font-size: 1.2rem;
    }
    .detalles img{
        width: 300px;
        width: 100%;
    }
    .detalles{
        padding: 1rem 0;
    }
    /*-----------------INICIO-------------------*/
.inicio{
    width: 100%;
    margin: 0 auto;
    padding-top: 9rem ;
    text-align: center;
}
.inicio h1{
    font-size: 2.5rem;
    color: rgb(239, 201, 239);
}
.inicio img{
    width: 100%;
}
}